[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YJ Leadone (yj-leadone)
[access "refs/for/refs/*"]
	read = group user/YJ Leadone (yj-leadone)
	push = group user/YJ Leadone (yj-leadone)
	label-Code-Review = -2..+2 group user/YJ Leadone (yj-leadone)
	label-Verified = -1..+1 group user/YJ Leadone (yj-leadone)
	rebase = group user/YJ Leadone (yj-leadone)
	removeReviewer = group user/YJ Leadone (yj-leadone)
	submit = group user/YJ Leadone (yj-leadone)
[access "refs/heads/*"]
	read = group user/YJ Leadone (yj-leadone)
	create = group user/YJ Leadone (yj-leadone)
	push = +force group user/YJ Leadone (yj-leadone)
	pushMerge = group user/YJ Leadone (yj-leadone)
[access "refs/tags/*"]
	push = +force group user/YJ Leadone (yj-leadone)
	pushTag = group user/YJ Leadone (yj-leadone)
	pushSignedTag = group user/YJ Leadone (yj-leadone)
